@{
    ViewData["Title"] = "Alta Manual de turno";
}

<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8' />
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker.min.css" integrity="sha512-34s5cpvaNG3BknEWSuOncX28vz97bRI59UnVtEEpFX536A7BtZSJHsDyFoCl8S7Dt2TPzcrCEoHBGeM4SUBDBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/lib/jquery-timepicker/jquery.timepicker.css">
</head>
<body>
    

    <!-- Content Row -->
    <div class="row">
        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Generar Alta Manual de turno</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 offset-md-3">
                                <form>
                                    <div class="form-group">
                                        <label for="Nombre">Nombre</label>
                                        <input type="text" class="form-control" id="Nombre" placeholder="Ingrese el nombre">
                                    </div>
                                    <div class="form-group">
                                        <label for="Apellido">Apellido</label>
                                        <input type="text" class="form-control" id="Apellido" placeholder="Ingrese el apellido">
                                    </div>
                                    <div class="form-group">
                                        <label for="telefono">Teléfono</label>
                                        <input type="tel" class="form-control" id="telefono" placeholder="Ingrese su número de teléfono">
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="email" class="form-control" id="email" placeholder="Ingrese su dirección de correo electrónico">
                                    </div>
                                    <div class="form-group">
                                        <label for="fecha">Fecha</label>
                                        <div class="input-group date">
                                            <input type="text" class="form-control datepicker" id="fecha" data-provide="datepicker" placeholder="Seleccione una fecha">
                                            <div class="input-group-append">
                                                <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="fecha">Hora</label>
                                        <div class="input-group date">
                                            <input type="text" class="form-control timepicker" id="hora" placeholder="Seleccione una hora">
                                            <div class="input-group-append">
                                                <span class="input-group-text"><i class="fas fa-clock"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" style="text-align:center">
                                        <button type="submit" class="btn btn-primary">Guardar Turno</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('.datepicker').datepicker();
        });

    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js" integrity="sha512-LsnSViqQyaXpD4mBBdRYeP6sRwJiJveh2ZIbW41EBrNmKxgr/LFZIiWT6yr+nycvhvauz8c2nYMhrP80YhG7Cw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/lib/jquery-timepicker/jquery.timepicker.min.js"></script>
    <script>

        $('#hora').timepicker({
            timeFormat: 'h:mm p',
            interval: 60,
            minTime: '10',
            maxTime: '6:00pm',
            defaultTime: '11',
            startTime: '10:00',
            dynamic: true,
            dropdown: true,
            scrollbar: false
        });

        $('#hora').timepicker();
    </script>
</body>
</html>