            <!-- Nav Item - Utilities Collapse Menu -->
@model bool

@if (Model)
{
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAdmin"
       aria-expanded="true" aria-controls="collapseAdmin">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Administrador</span>
        </a>
        <div id="collapseAdmin" class="collapse" aria-labelledby="headingAdmin"
         data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Perfil:</h6>
                <a class="collapse-item" href="@Url.Action("Index", "Admin")">Configuración de usuarios</a>
                <a class="collapse-item" href="/registro">Crear usuario</a>

            </div>
        </div>
    </li>
}
