@{
    ViewData["Title"] = "Inicio";
}

<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8' />
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@event-calendar/build@1.5.1/event-calendar.min.css">
</head>
<body>
    <div class="container-fluid" id="app">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Panel</h1>
        </div>

        <!-- Content Row -->
        <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-4 col-md-4 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Turnos totales
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">32</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-4 col-md-4 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                    Turnos Activos
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">12</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-4 col-md-4 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                    Pacientes
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">12</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pending Requests Card Example -->
            @*            <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
            <div class="row no-gutters align-items-center">
            <div class="col mr-2">
            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
            Usuarios
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
            </div>
            <div class="col-auto">
            <i class="fas fa-comments fa-2x text-gray-300"></i>
            </div>
            </div>
            </div>
            </div>
            </div>*@
        </div>

        <!-- Content Row -->

        <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-12 col-lg-12">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Calendario de turnos</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div id="ec"></div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Content Row -->
        <div class="row">
            <!-- Content Column -->
            <div class="col-lg-6 mb-4">
            </div>

            <div class="col-lg-6 mb-4">
            </div>
        </div>
        <div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="eventModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="eventModalLabel">Detalles del Evento</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="eventModalBody">
                        <!-- Aquí se mostrará la información del evento -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@event-calendar/build@1.5.1/event-calendar.min.js"></script>
    <script>
        const app = Vue.createApp({

            data() {
                return {
                }
            },
            methods: {
            }
        });

        app.mount('#app');

        const allDayEvent = {
            id: '1',
            allDay: true,
            start: new Date('2023-08-16T00:00:00'),
            end: new Date('2023-08-16T00:00:00'),
            title: 'Evento Todo el Día',
            backgroundColor: '#FF5733',
            textColor: '#FFFFFF',
            editable: false, // Evita que se puedan editar y mover
            startEditable: false, // Evita que se pueda cambiar el inicio del evento
            durationEditable: false, // Evita que se pueda cambiar la duración del evento
            extendedProps: {
                location: 'Salón Principal',
                notes: 'Reunión de planificación'
            }
        };

        const timedEvent = {
            id: '2',
            start: new Date('2023-08-15T15:00:00'),
            end: new Date('2023-08-15T17:00:00'),
            title: 'Turno: Juan Perez - juanperez@gmail.com - 1122332312',
            backgroundColor: '#007BFF',
            textColor: '#FFFFFF',
            editable: false, // Evita que se puedan editar y mover
            startEditable: false, // Evita que se pueda cambiar el inicio del evento
            durationEditable: false, // Evita que se pueda cambiar la duración del evento
            extendedProps: {
                location: 'Sala de Conferencias 2',
                attendees: ['John', 'Alice', 'Mike'],
                name: 'Juan Perez',
                email: 'juanperez@gmail.com',
                phone: '1122332312',
            }
        };

        let ec = new EventCalendar(document.getElementById('ec'), {
            view: 'timeGridDay',
            language: 'es',
            height: '500px',
            editable: false,
            eventClick: function (info) {
                console.log(info)

                const clickedEvent = info.event; // Objeto del evento clicado
                const eventTitle = clickedEvent.title; // Título del evento
                const eventStart = formatDate(clickedEvent.start); // Hora de inicio del evento
                const eventEnd = formatDate(clickedEvent.end); // Hora de fin del evento
                const eventExtendedProps = clickedEvent.extendedProps; // Propiedades extendidas del evento

                // Obtener los detalles de las propiedades extendidas
                const { name, email, phone } = eventExtendedProps;

                // Rellenar el contenido del modal con la información del evento
                const modalBody = document.getElementById('eventModalBody');
                modalBody.innerHTML = `
                            <p><strong>Nombre:</strong> ${name}</p>
                    <p><strong>Email:</strong> ${email}</p>
                    <p><strong>Teléfono:</strong> ${phone}</p>
                    <p><strong>Fecha y Hora de Inicio:</strong> ${eventStart}</p>
                    <p><strong>Fecha y Hora de Fin:</strong> ${eventEnd}</p>
                  `;

                // Abrir el modal
                $('#eventModal').modal('show');
            },
            events: [
                allDayEvent, timedEvent
            ]
        });

        function formatDate(date) {
            const options = { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit' };
            const formattedDate = date.toLocaleDateString('es-AR', options);
            return formattedDate.replace(',', ''); // Elimina la coma en la fecha
        }

    </script>
</body>
</html>
