@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Por favor, verifica tu correo electrónico para restablecer tu contraseña.
</p>

