@{
    ViewData["Title"] = "Turnos Confirmados";
}

<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8' />
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">
</head>
<body>

    <!-- Content Row -->
    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Generar nuevo Link de turno</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 order-md-2">
                                <div class="input-group">
                                    <input id="linkInput" type="text" class="form-control" readonly>
                                    <div class="input-group-append">
                                        <button id="copyButton" class="btn btn-secondary">Copiar</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 order-md-1">
                                <button id="generateButton" class="btn btn-primary">Generar Link</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>